.project
.cproject
.pydevproject
.includepath
*.o
*.so
*.tipsy
*.csv
*.png
*.xml
*.ps
__pycache__/
stuff.pl
src/
results/
*.log

lib/MPI/MYMETA.json
lib/MPI/MYMETA.yml
lib/MPI/Makefile
lib/MPI/Simple.c
lib/MPI/blib/
lib/MPI/pm_to_blib
lib/MPI/Simple.pm

# autoconf
configure
config.status
config.log
autom4te.cache
Makefile
